In [2]:
# Create a list of your favorite movies and print it. Then, append a new movie to the list and print the updated list.

In [6]:
list_m = ["Candy", "Jawan", "Gadar 2", "Pathaan", "Animal"]

In [8]:
list_m

['Candy', 'Jawan', 'Gadar 2', 'Pathaan', 'Animal']

In [10]:
list_m.append("Data Science")

In [12]:
list_m

['Candy', 'Jawan', 'Gadar 2', 'Pathaan', 'Animal', 'Data Science']

In [15]:
# Create a list of integers from 1 to 10 and print it. Calculate the sum of all the numbers in the list and print the result.

In [17]:
list_n = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list_n

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [23]:
sum = 0
for i in list_n:
    sum = sum + i
sum

55

In [26]:
# Create a list of mixed data types including strings, integers, and floats and print it. Remove the first element from the list and print the modified list.

In [28]:
list_mix = ["Raju", 1, 1.1]
list_mix

['Raju', 1, 1.1]

In [30]:
list_mix.pop(0)
list_mix

[1, 1.1]

In [33]:
# Create a tuple containing the names of the days of the week and print it. Access and print the name of the third day.

In [35]:
tuple_d = ("Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat")
tuple_d

('Sun', 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat')

In [37]:
tuple_d[2]

'Tue'

In [40]:
# Create a tuple of your favorite colors and print it. Check if a certain color is present in the tuple and print the result.

In [42]:
tuple_c = ("Blue", "Black", "White")
tuple_c

('Blue', 'Black', 'White')

In [54]:
if "Blue" in tuple_c:
    print("Color Blue Exist In The List")

Color Blue Exist In The List

In [57]:
# Create a dictionary representing the information of a book with keys "title", "author", and "year" and print it. Update the year of the book and print the updated dictionary.

In [61]:
dict_b = {
    "one" : "Data Science",
    "two" : "Raju Shrestha",
    "three" : "2000-001-01"
}    
dict_b

{'one': 'Data Science', 'two': 'Raju Shrestha', 'three': '2000-001-01'}

In [65]:
dict_b["three"] = "3000-01-01"
dict_b

{'one': 'Data Science', 'two': 'Raju Shrestha', 'three': '3000-01-01'}

In [68]:
# Create a dictionary containing the names of fruits as keys and their corresponding colors
# as values and print it. Add a new fruit-color pair to the dictionary and print the updated
# dictionary.

In [74]:
dict_f = {
    "Apple"  "Red",
    "Banana" = "Yellow",
    "Orange" = "Orange"
}
dict_f

{'Apple': 'Red', 'Banana': 'Yellow', 'Orange': 'Orange'}

In [82]:
dict_f.update({"Kiwi" : "Brown"})
dict_f

{'Apple': 'Red', 'Banana': 'Yellow', 'Orange': 'Orange', 'Kiwi': 'Brown'}

In [87]:
# Create a dictionary representing the population of different cities with keys as city names
# and values as population numbers and print it. Remove a city from the dictionary and print
# the modified dictionary.

In [91]:
 dict_p = {
    "Kathmandu" : 100000,
    "Lalitpur" : 32323,
    "Bhaktapur" : 9876
 }
dict_p

{'Kathmandu': 100000, 'Lalitpur': 32323, 'Bhaktapur': 9876}

In [93]:
dict_p.pop("Lalitpur")
dict_p

{'Kathmandu': 100000, 'Bhaktapur': 9876}